    <div class="event_window_outside disapear disappear_window">
        <div class="caret-left"><i class="bi bi-caret-left"></i></div>
        <div class="caret-right"><i class="bi bi-caret-right"></i></div>

        <div class="event_window">

            <div class="event_img">
                <img src="https://fakeimg.pl/300x200/200" alt="event-face">
            </div>
            <p class="event_window_name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, molestias.</p>
            <p class="event_window_time">
                Lorem ipsum dolor sit amet.
            </p>
            <p class="event_window_description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quod eum nemo voluptatibus ea earum tempora perferendis beatae, dolore, temporibus rem illum ut animi, minus impedit facilis at dolorum accusantium! earum tempora perfaccusantium!
            </p>
            <div class="x-square"><i class="bi bi-x-square"></i></div>

        </div>
    </div>