    <section class="mainpage-follow">
        <div class="container">
            <div class="mainpage-follow-tag">
                <h3>FOLLOW</h3>
                <h2>@GREENBEER</h2>
            </div>

            <div class="follow-img-box">

                <div class="col">
                    <div class="follow-img-col -top">
                        <div class="follow-img">
                            <img src="pic/beer_06.jpg" alt="cheers">
                        </div>
                        <div class="follow-img">
                            <img src="pic/beer_08.avif" alt="beer ice bucket">
                        </div>
                        <div class="follow-img">
                            <img src="pic/beer_14.jpg" alt="table wine">
                        </div>
                    </div>

                    <div class="follow-img-col ">
                        <div class="follow-img">
                            <img src="pic/beer_11.jpg" alt="The hops are sprayed everywhere">
                        </div>
                        <div class="follow-img">
                            <img src="pic/beer_02.jpg" alt="full beer fridge">
                        </div>
                        <div class="follow-img">
                            <img src="pic/beer_01.jpg" alt="black beer">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="follow-img-col -top">
                        <div class="follow-img">
                            <img src="pic/beer_04.jpg" alt="hop eruption">
                        </div>
                        <div class="follow-img">
                            <img src="pic/beer_13.jpg" alt="crystal clear glass">
                        </div>
                        <div class="follow-img">
                            <img src="pic/beer_15.jpg" alt="beer bubbles">
                        </div>
                        <div class="follow-img">
                            <img src="pic/beer_16.jpg" alt="beer mug cheers">
                        </div>
                    </div>

                    <div class="follow-img-col ">
                        <div class="follow-img">
                            <img src="pic/beer_10.jpg" alt="Drink near the pool">
                        </div>
                        <div class="follow-img">
                            <img src="pic/beer_07.jpg" alt="beer event">
                        </div>
                        <div class="follow-img">
                            <img src="pic/beer_12.jpg" alt="medicinal wine">
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>