    <section class="sub-page-top-cover">
        <div class="sub-page-top-cover-img">
            <div class="sub-page-top-cover-img-top">
                <img src="pic/beer_12.jpg" alt="page-top-cover">
            </div>
            <div class="sub-page-top-cover-img-down">
                <img src="pic/subpage_down_white.png" alt="bg-white">
            </div>
        </div>
        <div class="sub-page-top-cover-title">
            <h1 class="greenbeer">@@title</h1>
        </div>
    </section>